@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "BPG Arial", sans-serif;
}

.input {
  @apply px-3 py-2 border border-black outline-none bg-[#eaeaea] w-full;
}

@layer base {
  @font-face {
    font-family: "Helvetica";
    src: url("fonts/Linotype-HelveticaNeueLTGEO75Bold.ttf");
  }
}
